a.active {
    // background-color: #82b0de
    background-color: var(--color-menu-active);
}
a.active span.title {
    font-weight: 500;
}

.item-menu {
    display: flex;
    align-items: center;
    gap: 10px
}

.child {
    margin-left: 20px;
    width: 88%
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 100%;
    max-width: 150px;
}