<div class="logo">
    <img src="/logos/logo.png" alt="Logo Course">
</div>

<mat-nav-list>
    @for (item of items; track item) {
    <a mat-list-item routerLink="{{item.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="item-menu">
            <mat-icon fontIcon="{{item.icon}}"></mat-icon>
            <span class="title">{{item.title}}</span>
        </span>
    </a>

    @if(item.children) {
    @for (itemChild of item.children; track itemChild) {
    <a mat-list-item routerLink="{{itemChild.route}}" class="child" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="item-menu">
            <mat-icon fontIcon="{{itemChild.icon}}"></mat-icon>
            <span class="title">{{itemChild.title}}</span>
        </span>
    </a>
    }
    }

    }
</mat-nav-list>