.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* Esto hace que los elementos se estiren para ocupar todo el ancho */
  height: 100%; /* Ocupa toda la altura disponible */
  width: 95%; /* Ancho del 95% */
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .input-field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .login-button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.forgot-password-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; /* Added margin-bottom */
  color: #0099ff;
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    text-decoration: underline;
    color: #0066cc; /* Darker hover color */
  }
}