.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
}

.left-side {
  flex: 1;
  background-image: url("/background.jpg"); /* Reemplaza con la URL de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio */
  background-position: center; /* Centra la imagen */
}

.right-side {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f8f9fa; /* Color de fondo contrastante */
}